@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Hello World!</h1>
        </div>
        <div class="col-12">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio sint doloremque eligendi unde officia minus veniam saepe, neque sunt laudantium velit culpa est cumque ratione amet repellendus, 
                quo libero molestiae quibusdam aut. Assumenda, mollitia saepe. Vitae at minima ad amet hic inventore aliquid optio, ipsam illum consequatur voluptas! Suscipit tempora reiciendis est neque! Eaque,
                laudantium quas! Cum magni tempore minima nesciunt eius voluptatem delectus, veritatis id modi vitae deserunt consequuntur necessitatibus pariatur ut tenetur suscipit sint repellat. Recusandae adipisci 
                est at non voluptatem repellat amet explicabo aperiam, facere animi iure optio dolorem sit inventore commodi corrupti maiores dolorum voluptates?
            </p>
        </div>
    </div>
</main>